name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Get source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install Quarto
      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: release

      # Build site
      - name: Build site
        run: quarto render

      # Keep '_site' folder
      - name: Upload built site
        uses: actions/upload-artifact@v4
        with:
          name: _site
          path: _site
