name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Get artifact from build
      - name: Download built site
        uses: actions/download-artifact@v4
        with:
          name: _site
          path: _site

      # Copy to OVH server
      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avz --delete
          path: site/
          remote_path: /var/www/html/k-upc
          remote_host: ${{ secrets.OVH_HOST }}
          remote_user: ${{ secrets.OVH_USER }}
          remote_key: ${{ secrets.OVH_SSH_KEY }}
          port: ${{ secrets.OVH_PORT }}
